@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --global-font: "Karla", sans-serif;
}

/* Responsive Container */
.responsive-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* FONTS */
p,
ul li {
  font-family: var(--global-font);
  color: #144e56;
  margin-bottom: 1rem;
}

/* Top Nagigation Styling */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  padding: 1rem 0;
  backdrop-filter: blur(4px);
}

.topnav a {
  text-decoration: none;
  color: #144e56;
  font-family: var(--global-font);
  font-weight: 500;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #488D96;
}

/* Styling for home page */
#sketch-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.homingquotes {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #563e14;
  font-family: var(--global-font);
  font-size: 1.2rem;
  padding: 1rem;
  pointer-events: none; /* optional: makes the text non-interactive */
}


.homingquotes h2 {
  font-family: var(--global-font);
  color: #563e14;
  margin-top: 10rem;
  margin-bottom: 1rem;
  text-align: center;
}

.content-wrapper {
  padding-top: 7rem;
}

h1 {
  font-family: var(--global-font);
  color: #144e56;
  margin-bottom: 1rem;
  text-align: center;
}

h2,
h3 {
  font-family: var(--global-font);
  color: #144e56;
  margin-bottom: 1rem;
  text-align: start;
}

#profile_photo {
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.img-container {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: 100%;
}

.image-small {
  width: 200px;
}

.image-medium {
  width: 400px;
}

.image-large {
  width: 600px;
}

.image-xlarge {
  width: 800px;
}

.image-row {
  display: flex;
  flex-direction: row; /* This ensures horizontal layout */
  gap: 20px; /* Space between images */
  justify-content: left;
  align-items: flex-start; /* Align from the top */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  justify-content: left; /* Center the images */
}

.image-col {
  display: flex;
  flex-direction: column; /* This ensures horizontal layout */
  gap: 20px; /* Space between images */
  justify-content: left;
  align-items: flex-start; /* Align from the top */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  justify-content: left; /* Center the images */
}

.float-text-around-image > .img-container,
.float-text-around-image > .image-row,
.float-text-around-image > .image-col {
  float: left;
  margin-right: 10rem;
}
