@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --global-font: "Karla", sans-serif;
}

/* Responsive Container */
.responsive-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* FONTS */
p,
ul li {
  font-family: var(--global-font);
  color: #144e56;
  margin-bottom: 1rem;
}

/* Top Nagigation Styling */
.topnav {
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; /* Full width navigation */
}

.topnav a {
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: orange;
}

h1 {
  font-family: var(--global-font);
  color: #144e56;
  margin-bottom: 1rem;
  text-align: center;
}

h2,
h3 {
  font-family: var(--global-font);
  color: #144e56;
  margin-bottom: 1rem;
  text-align: start;
}

#profile_photo {
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

#profile_photo img {
  width: 100%;
  height: 100%;
}

.fit-image {
  width: 500px;
}
