{:posts
 {"About_Me.html"
  {:file/last-modified 1724704221765,
   :file/hash 473735337,
   :last-compiled 1724704225127,
   :post/published "DRAFT"},
  "my_first_post_yeaaa.html"
  {:file/last-modified 1720371416118,
   :file/hash 10743707,
   :last-compiled 1724702080096,
   :post/published "DRAFT"}}}
